html {
  font-family: "Public Sans", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pinturas {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.pinturas .pintura {
  width: 335px;
  height: 431px;
  position: relative;
}

.pinturas .pintura img {
  width: 100%;
}

.pinturas .pintura .informacoes {
  color: #fff;
  position: absolute;
  bottom: 43px;
  left: 20px;
}
.informacoes .titulo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
.informacoes .subtitulo {
  font-size: 17px;
  font-weight: 300;
}
