@media (max-width: 750px) {
  .cabecalho {
    display: block;
    margin-top: 4.5rem;
  }
  .cabecalho .logo {
    justify-content: center;
  }

  .logo h1 {
    font-size: 4rem;
  }

  .menu {
    display: block;
    margin-top: 10rem;
    text-align: center;
  }

  .menu li :last-child {
    margin-top: 2rem;
  }
  .menu li a {
    font-size: 4rem;
    padding: 1.7rem 4rem;
  }

  .menu li {
    padding: 2.5rem;
  }

  .menu li a.btn {
    font-size: 1.8rem;
    margin-left: 0;
    padding: 1.5rem 2.3rem;
  }
}
